<!-- 
Question 2: 
  Given a number-generator service:
  
    class NumberService
    {
      public getCurrentNumber(): Observable<number>;
      public generateNewNumber(): void; 
    }
    
  a) Write the template part that would subscribe to getCurrentNumber() and create a span  for the number that is returned. 
  b) The first value received will be undefined - handle this case with a default message.
  c) Add a button that calls generateNewNumber() to update the current-number.
-->

<pre>Answer Q2:</pre>

<!-- Q2(a, b) inside the div below: -->

<div>

</div>

<!-- Q2(c): -->

<button>...</button>